--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-1.pgdg110+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO postgres;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO postgres;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cadena_farmacia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cadena_farmacia (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.cadena_farmacia OWNER TO postgres;

--
-- Name: cadena_farmacia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cadena_farmacia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cadena_farmacia_id_seq OWNER TO postgres;

--
-- Name: cadena_farmacia_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cadena_farmacia_id_seq OWNED BY public.cadena_farmacia.id;


--
-- Name: comuna; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comuna (
    id bigint NOT NULL,
    nombre_com character varying(255),
    id_region bigint
);


ALTER TABLE public.comuna OWNER TO postgres;

--
-- Name: comuna_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comuna_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.comuna_id_seq OWNER TO postgres;

--
-- Name: comuna_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.comuna_id_seq OWNED BY public.comuna.id;


--
-- Name: corrida_actualizacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.corrida_actualizacion (
    id_corrida bigint NOT NULL,
    detalle_error text,
    estado character varying(20) NOT NULL,
    fin timestamp(6) with time zone,
    id_fuente bigint NOT NULL,
    inicio timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.corrida_actualizacion OWNER TO postgres;

--
-- Name: corrida_actualizacion_id_corrida_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.corrida_actualizacion_id_corrida_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.corrida_actualizacion_id_corrida_seq OWNER TO postgres;

--
-- Name: corrida_actualizacion_id_corrida_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.corrida_actualizacion_id_corrida_seq OWNED BY public.corrida_actualizacion.id_corrida;


--
-- Name: medicamento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medicamento (
    id_medicamento bigint NOT NULL,
    activo boolean NOT NULL,
    categoria character varying(100),
    es_bioequivalente boolean,
    nombre_canonico character varying(400) NOT NULL,
    origen_catalogo character varying(30),
    principio_activo character varying(400),
    laboratorio character varying(200)
);


ALTER TABLE public.medicamento OWNER TO postgres;

--
-- Name: medicamento_id_medicamento_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.medicamento_id_medicamento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.medicamento_id_medicamento_seq OWNER TO postgres;

--
-- Name: medicamento_id_medicamento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.medicamento_id_medicamento_seq OWNED BY public.medicamento.id_medicamento;


--
-- Name: precio_vigente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.precio_vigente (
    id bigint NOT NULL,
    moneda character varying(3) NOT NULL,
    precio_max_vta numeric(12,2),
    texto_busqueda character varying(255),
    vigente_desde timestamp(6) with time zone,
    id_corrida bigint NOT NULL,
    id_medicamento bigint,
    id_sucursal bigint NOT NULL
);


ALTER TABLE public.precio_vigente OWNER TO postgres;

--
-- Name: precio_vigente_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.precio_vigente_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.precio_vigente_id_seq OWNER TO postgres;

--
-- Name: precio_vigente_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.precio_vigente_id_seq OWNED BY public.precio_vigente.id;


--
-- Name: region; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.region (
    id_region bigint NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.region OWNER TO postgres;

--
-- Name: region_id_region_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.region_id_region_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.region_id_region_seq OWNER TO postgres;

--
-- Name: region_id_region_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.region_id_region_seq OWNED BY public.region.id_region;


--
-- Name: solicitud_inscripcion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitud_inscripcion (
    id_solicitud bigint NOT NULL,
    acepta_ley_21719 boolean,
    comuna character varying(255),
    direccion character varying(255),
    estado_solicitud character varying(255),
    fecha_solicitud timestamp(6) with time zone,
    nombre_fantasia character varying(255),
    quimico_correo character varying(255),
    quimico_nombre character varying(255),
    quimico_rut character varying(255),
    razon_social character varying(255),
    region character varying(255),
    rep_legal_correo character varying(255),
    rep_legal_nombre character varying(255),
    rep_legal_rut character varying(255),
    rep_legal_telefono character varying(255),
    resolucion_seremi character varying(255),
    rut_empresa character varying(255)
);


ALTER TABLE public.solicitud_inscripcion OWNER TO postgres;

--
-- Name: solicitud_inscripcion_id_solicitud_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.solicitud_inscripcion_id_solicitud_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.solicitud_inscripcion_id_solicitud_seq OWNER TO postgres;

--
-- Name: solicitud_inscripcion_id_solicitud_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.solicitud_inscripcion_id_solicitud_seq OWNED BY public.solicitud_inscripcion.id_solicitud;


--
-- Name: sucursal_farmacia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sucursal_farmacia (
    id_sucursal bigint NOT NULL,
    activo boolean,
    actualizado_en timestamp(6) with time zone,
    creado_en timestamp(6) with time zone,
    direccion character varying(400) NOT NULL,
    nombre_sucursal character varying(300) NOT NULL,
    ubicacion public.geometry(Point,4326) NOT NULL,
    id_farmacia bigint NOT NULL,
    id_comuna bigint NOT NULL
);


ALTER TABLE public.sucursal_farmacia OWNER TO postgres;

--
-- Name: sucursal_farmacia_id_sucursal_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sucursal_farmacia_id_sucursal_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sucursal_farmacia_id_sucursal_seq OWNER TO postgres;

--
-- Name: sucursal_farmacia_id_sucursal_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sucursal_farmacia_id_sucursal_seq OWNED BY public.sucursal_farmacia.id_sucursal;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id bigint NOT NULL,
    correo character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    rol character varying(255) NOT NULL
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuario_id_seq OWNER TO postgres;

--
-- Name: usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuario_id_seq OWNED BY public.usuario.id;


--
-- Name: cadena_farmacia id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cadena_farmacia ALTER COLUMN id SET DEFAULT nextval('public.cadena_farmacia_id_seq'::regclass);


--
-- Name: comuna id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comuna ALTER COLUMN id SET DEFAULT nextval('public.comuna_id_seq'::regclass);


--
-- Name: corrida_actualizacion id_corrida; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corrida_actualizacion ALTER COLUMN id_corrida SET DEFAULT nextval('public.corrida_actualizacion_id_corrida_seq'::regclass);


--
-- Name: medicamento id_medicamento; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicamento ALTER COLUMN id_medicamento SET DEFAULT nextval('public.medicamento_id_medicamento_seq'::regclass);


--
-- Name: precio_vigente id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precio_vigente ALTER COLUMN id SET DEFAULT nextval('public.precio_vigente_id_seq'::regclass);


--
-- Name: region id_region; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.region ALTER COLUMN id_region SET DEFAULT nextval('public.region_id_region_seq'::regclass);


--
-- Name: solicitud_inscripcion id_solicitud; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_inscripcion ALTER COLUMN id_solicitud SET DEFAULT nextval('public.solicitud_inscripcion_id_solicitud_seq'::regclass);


--
-- Name: sucursal_farmacia id_sucursal; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sucursal_farmacia ALTER COLUMN id_sucursal SET DEFAULT nextval('public.sucursal_farmacia_id_sucursal_seq'::regclass);


--
-- Name: usuario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id SET DEFAULT nextval('public.usuario_id_seq'::regclass);


--
-- Name: cadena_farmacia cadena_farmacia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cadena_farmacia
    ADD CONSTRAINT cadena_farmacia_pkey PRIMARY KEY (id);


--
-- Name: comuna comuna_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comuna
    ADD CONSTRAINT comuna_pkey PRIMARY KEY (id);


--
-- Name: corrida_actualizacion corrida_actualizacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corrida_actualizacion
    ADD CONSTRAINT corrida_actualizacion_pkey PRIMARY KEY (id_corrida);


--
-- Name: medicamento medicamento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicamento
    ADD CONSTRAINT medicamento_pkey PRIMARY KEY (id_medicamento);


--
-- Name: precio_vigente precio_vigente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precio_vigente
    ADD CONSTRAINT precio_vigente_pkey PRIMARY KEY (id);


--
-- Name: region region_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.region
    ADD CONSTRAINT region_pkey PRIMARY KEY (id_region);


--
-- Name: solicitud_inscripcion solicitud_inscripcion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_inscripcion
    ADD CONSTRAINT solicitud_inscripcion_pkey PRIMARY KEY (id_solicitud);


--
-- Name: sucursal_farmacia sucursal_farmacia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sucursal_farmacia
    ADD CONSTRAINT sucursal_farmacia_pkey PRIMARY KEY (id_sucursal);


--
-- Name: usuario uk_2mlfr087gb1ce55f2j87o74t; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT uk_2mlfr087gb1ce55f2j87o74t UNIQUE (correo);


--
-- Name: cadena_farmacia uk_cmpwkt4rv0b7gbyttb7hqgj8f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cadena_farmacia
    ADD CONSTRAINT uk_cmpwkt4rv0b7gbyttb7hqgj8f UNIQUE (nombre);


--
-- Name: region uk_gx3qpilbkrktjxo845mdtiw6h; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.region
    ADD CONSTRAINT uk_gx3qpilbkrktjxo845mdtiw6h UNIQUE (nombre);


--
-- Name: medicamento uk_mo52dknc8gmalvolih9xsxda5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicamento
    ADD CONSTRAINT uk_mo52dknc8gmalvolih9xsxda5 UNIQUE (nombre_canonico);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id);


--
-- Name: sucursal_farmacia fk16uiejkje7hrcnldpudlc646f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sucursal_farmacia
    ADD CONSTRAINT fk16uiejkje7hrcnldpudlc646f FOREIGN KEY (id_farmacia) REFERENCES public.cadena_farmacia(id);


--
-- Name: precio_vigente fk4ethwwq81u11ivnm7fvxcech0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precio_vigente
    ADD CONSTRAINT fk4ethwwq81u11ivnm7fvxcech0 FOREIGN KEY (id_sucursal) REFERENCES public.sucursal_farmacia(id_sucursal);


--
-- Name: sucursal_farmacia fk59v13a2amji0rb9g440nt999q; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sucursal_farmacia
    ADD CONSTRAINT fk59v13a2amji0rb9g440nt999q FOREIGN KEY (id_comuna) REFERENCES public.comuna(id);


--
-- Name: precio_vigente fkj08pjphkjsmse0mahuds7e7ec; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precio_vigente
    ADD CONSTRAINT fkj08pjphkjsmse0mahuds7e7ec FOREIGN KEY (id_corrida) REFERENCES public.corrida_actualizacion(id_corrida);


--
-- Name: comuna fkjlc8rtqurvwtswxjrmkmj5isy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comuna
    ADD CONSTRAINT fkjlc8rtqurvwtswxjrmkmj5isy FOREIGN KEY (id_region) REFERENCES public.region(id_region);


--
-- Name: precio_vigente fknv8qojc037x3cvbvmi0ajmd1v; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precio_vigente
    ADD CONSTRAINT fknv8qojc037x3cvbvmi0ajmd1v FOREIGN KEY (id_medicamento) REFERENCES public.medicamento(id_medicamento);


--
-- PostgreSQL database dump complete
--

